@media all and ( max-device-width:960px) {

  header {
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    background-color: #f7f7f7;
  }
  .logo {
    height: 60px;
    width: 33%;
    padding-left: 15px;
  }
  .logo__dr {
    font-size: 60px;
    text-transform: uppercase;
  }






































}
