* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
/*HEADER*/
header {
  margin: 0 auto;
  width: 1300px;
  height: 100px;
  background-color: #f7f7f7;
}
/*LOGO*/
.logo {
  float: left;
  height: 100px;
  width: 34%;
  padding: 0;
}
.logo__dr {
  font-size: 80px;
  text-transform: uppercase;
  color: #505051;
  text-shadow: 5px 3px 3px rgba(150, 150, 150, 1);
}
.logo__ay {
  font-size: 60px;
  text-transform: uppercase;
  color: #505051;
  text-shadow: 5px 3px 3px rgba(150, 150, 150, 1);
}
.header__car {
float: left;
width: 30%;
height: 100px;
background-image: url(../img/sprite__header.png);
background-repeat: no-repeat;
background-position: center;
}
.info {
  float: right;
  height: 100px;
  padding-top: 15px;
  padding-right: 20px;
  background-image: url(../img/header__contact.png);
  background-repeat: no-repeat;
  background-position: left;
}
.info ul {
  margin-top: 3px;
  list-style: none;
  padding-left: 16px;
}
.info ul li {
  padding: 5px;
}
.info ul li a{
  text-decoration: none;
}
/*MENU*/
section {
  margin: 0 auto;
  width: 1300px;
  height: 350px;
  background-color: #4FE5BB;
}
.allInfo {
  padding-top: 20px;
  text-align: center;
}
.rent {
  background-image: url(../img/house.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
}
.soldCar {
  background-image: url(../img/reunion.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
}
.wash {
  background-image: url(../img/car-wash.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
}

 .col-md-4 {
   height: 280px;
   font-size: 20px;
 }
.text__section {
  padding-top: 220px;
  padding-left: 95px;
  width: 300px;
}
/*SECTION WITH MAP*/
.mapSlider {
  margin: 0 auto;
  width: 1300px;
  height: 350px;
}
.map {
  padding-top: 20px;
  font-size: 20px;
  height: 350px;
  text-align: center;
  background-color: #E95151;
}
.where {
  padding-left: 25px;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: center left;
}
.radius{
  padding-top: 20px;
}
.button {
  background-color: #4FE5BB;
  height: 350px;
  text-align: center;
}
.circle {
  margin: 0 auto;
  margin-top: 30px;
  outline:none;
  border: none;
  width: 250px;
  height: 250px;
  background-color: #E95151;
  border-radius: 200px;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow:10px 10px 10px rgba(0,0,0,0.7);
  cursor:pointer;
}
.circle:hover {
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.circle:active {
  box-shadow: none;
  margin-top: 35px;
}
.slider {
  height: 350px;
  background-color: #E95151;
}
/*#inform1 {
  visibility: hidden;
}
#inform2 {
  visibility:hidden;
}
#inform3 {
  visibility:hidden;
}
#inform4 {
  visibility:hidden;
}
#inform5 {
  visibility:hidden;
}*/

/*SECTION FOR CAR*/

.content {
  margin: 0 auto;
  width: 1300px;
  height: 11005px;
  background-color: #f7f7f7;
}
.headerContent {
  width: 100%;
  height: 50px;
  background-color: #4FE5BB;
}



























/*vrsx*/
