* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
/*HEADER*/
header {
  margin: 0 auto;
  width: 1300px;
  height: 150px;
  background-color: #f7f7f7;
}
/*LOGO*/
.logo {
  float: left;
  height: 100px;
  width: 25%;
  padding: 0;
}
.logo__dr {
  font-size: 80px;
  text-transform: uppercase;
  color: #505051;
  text-shadow: 5px 3px 3px rgba(150, 150, 150, 1);
}
.logo__ay {
  font-size: 60px;
  text-transform: uppercase;
  color: #505051;
  text-shadow: 5px 3px 3px rgba(150, 150, 150, 1);
}
/*MENU*/
.menu {
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
  float: left;
  position: relative;
  overflow:hidden;
  background-color: #f7f7f7;
}
.menu ul {
  position: relative;
  left:50%;
  list-style: none;
  float:left;
}
.menu ul li {
  float: left;
  position:relative;
  left:-50%;
  padding: 5px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
}
.menu ul li a {
text-decoration: none;
color: #505051;
}
.saleCar {
  background-color: #E95151;
}
.saleCar a {
  color: #f7f7f7;
}
.menu ul li:hover {
 background-color: #4FE5BB;
}
.info {
  float: right;
  height: 100px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 10px;
  background-image: url(../img/header__contact.png);
  background-repeat: no-repeat;
  background-position: left;
}
.info ul {
  margin-top: 3px;
  list-style: none;
  padding-left: 16px;
}
.info ul li {
  padding: 5px;
}
.info ul li a{
  text-decoration: none;
}
.section {
  margin: 0 auto;
  width: 1300px;
  height: 600px;
  background-color: #4FE5BB;
}
.allInfo {
  padding-top: 100px;
  text-align: center;
}
.rent {
  background-image: url(../img/house.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
}
.soldCar {
  background-image: url(../img/reunion.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
}
.wash {
  background-image: url(../img/car-wash.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
}

 .col-md-4 {
   height: 280px;
   font-size: 30px;
 }
.text__section {
  padding-top: 220px;
  padding-left: 25px;
  width: 400px;
}
/

.slider {
  height: 350px;
  background-color: #E95151;
  padding-top: 50px;
}
/*SECTION ABOUT COMPANY*/
.aboutCompany {
  margin: 0 auto;
  width: 1300px;
  background-color: #f7f7f7;
}
.aboutText {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 30px;
  width: 60%;
  height: 300px;
  float: left;
  background-color: #f7f7f7;
}
.aboutIcon {
  float: left;
  width: 40%;
  height: 300px;
  background-image: url(../img/refresh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f7f7f7;
}
/*SECTION descript*/
.descript {
  margin: 0 auto;
  width: 1300px;
  background-color: #4FE5BB;
}
.descriptIcon {
  float: left;
  width: 30%;
  height: 350px;
  background-color: #4FE5BB;
  background-image: url(../img/mechanic.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.descriptText {
  float: left;
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 30px;
  width: 70%;
  height: 350px;
  background-color: #4FE5BB;
}
/*SECTION prise*/
.prise {
  margin: 0 auto;
  width: 1300px;
}
.priseImg {
  float: left;
  width: 60%;
  height: 450px;
  background-color: #E95151;
}
.priceIcon {
  float: left;
  width: 40%;
  height: 450px;
  background-color: #E95151;
  background-image: url(../img/wash.png);
  background-repeat: no-repeat;
  background-position: center center;
}
footer {
  margin: 0 auto;
  width: 1300px;
  height: 1600px;
  background-color: #f7f7f7;
}
.map {
 width: 50%;
 height: 600px;
 float: left;
 padding-top: 50px;
 padding-left: 50px;
}
.text {
  width: 50%;
  font-size: 25px;
}
